@page "/IntroMain"

<GothicTitle BackgroundImage="../Images/GothicHomeTitle2.jpg"></GothicTitle>
<div class="align">
    <h1> <u>INTRO & MAIN QUEST</u></h1>
</div>

<ImageText ImageSource="../Images/Intro.png">
    <h2>Once again, another Gothic Game</h2>
</ImageText>

<ImageText ImageSource="../Images/MainQuest2.png">
    <h2>MAIN QUEST: Amass 200,000$</h2>
    <h4>
        Description: By the end of Gothic, Middle Ages
        you must save TWO HUNDRED THOUSAND DOLLARS. Your true purpose may be a home in a
        remote location, plus peace and quiet, but, who knows what you'll desire in 15 years.
        But, whatever it may be, it WILL require money.So get your ass working and saving!
    </h4>
</ImageText>

<Row BackgroundImage="../Images/goodies.png">
    <Butoane Href="/" Text="Home Page"></Butoane>
    <Butoane Href="/" Text="Gothic Goodies"></Butoane>
</Row>


<style>
    .align {
        margin: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    h1 {
        color: rgb(199, 180, 180);
        text-shadow: 1px 1px 8px gray;
        align-self: center;
    }
</style>