@page "/Rewards&Graduation"

<GothicTitle BackgroundImage="../Images/GothicHomeTitle2.jpg"></GothicTitle>
<div>
    <div class="align">
        <h1> <u>Rewards & Graduation</u></h1>
    </div>
</div>

<ImageText ImageSource="../Images/graduation/Fail.png">
    <h2>FAIL</h2>
    <p><h4>
        You had one task, several years to perform it, and you still blew it! This
        is the saddest thing you could possibly do. You're a failure, get used to that idea!
    </h4></p>
</ImageText>

<ImageText ImageSource="../Images/graduation/DiegoGrad.png">
    <h2>Diego</h2>
    <p><h4>Requires : STR 40, Disc 50, Valholl 50, Cash $1M </h4></p>
    <p><h4>
        Diego is the resourceful one. Through work, skills, but also connections and opportunity,
        you've managed to exceed your goal by far and have hoarded ONE MILLION DOLLARS.
        So now you're a millionaire... Get youself a reward fitting of your status!
    </h4></p>
    <p>
        <h4>
            Reward: A one-month trip to the country of your choice, with the approval to spare no expense.
        </h4>
    </p>
</ImageText>

<ImageText ImageSource="../Images/graduation/LesterGrad.png">
    <h2>Lester</h2>
    <p><h4>Requires : STR 50, Disc 80, Valholl 40, Cash $250K </h4></p>
    
</ImageText>


<ImageText ImageSource="../Images/graduation/MiltenGrad.png">
    <h2>Milten</h2>
    <p><h4>Requires : STR 35, Disc 70, Valholl 30, Cash $400K </h4></p>
    
</ImageText>


<ImageText ImageSource="../Images/graduation/GornGrad.png">
    <h2>Gorn</h2>
    <p><h4>Requires : STR 80, Disc 40, Valholl 60, Cash $300K </h4></p>
    
</ImageText>

<ImageText ImageSource="../Images/graduation/OrkGrad.png">
    <h2>Orc Warrior</h2>
    <p><h4>Requires : STR 90, Disc 10, Valholl 70, Cash $200K </h4></p>

</ImageText>

<ImageText ImageSource="../Images/MainQuest2.png">
    <h2>The Gothic Hero</h2>
    <h4>Requires : STR 100, Disc 100, Valholl 100, Cash $10M </h4>
    <h4>
        You completely exceeded all expectations! You solved the unsolvable, hoarded treasures,
        gained power, wealth, glory and everything in between.
    </h4>
    <h4>
        Reward: Fund a video game company! We're 100% sure it's gonna make it big!
    </h4>
</ImageText>


<div style="background-color:black; display:flex; justify-content:center; align-items:center; min-height:5vh; min-width:10vw;">
    <a style="text-decoration: none; color: black;" href="/"><button style="min-width:5vw;">Back</button></a>
</div>

<style>
    .align {
        margin: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }

    h1 {
        color: rgb(199, 180, 180);
        text-shadow: 1px 1px 8px gray;
        align-self: center;
    }
</style>