<div class="cardTitle text ">
    <h3><u>Quest Name</u></h3>
    <div class="container">
        <h4><b>Description:</b> Something to do</h4>
        <p>⤷Bonus: Some other thing to do</p>
    </div>
</div>

<style>
    .text {
        color: rgb(199, 180, 180);
        text-shadow: 1px 1px 8px gray;
    }

    .cardTitle {
        box-shadow: 0 4px 8px 0 gray;
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        background-color: rgb(34, 2, 2);
        min-width: 90%;
        align-self: center;
        margin-bottom: 2vh;
        text-indent: 2vw;
    }

        .cardTitle:hover {
            box-shadow: 0 8px 16px 0 gray;
        }
</style>
