<div class="cardTitle text ">
    <h3><img src="../Images/Demon_Mage.jpg" style="min-width: 50px; max-width:50px; max-height:60px; margin-top:10px; margin-right:1vw;" /><u>Skill Type: </u><u>Skill Name</u></h3>
    <div class="container">
        <h4 ><b>Description:</b> Some Bullshit to learn </h4>
        <p style="margin-left:1vw;"><input type="checkbox" /> Basic: +1000 Disc XP -> if you learned This</p>
        <p style="margin-left:1vw;"><input type="checkbox" /> Fair: +1500 Disc XP -> if you learned That</p>
        <p style="margin-left:1vw;"><input type="checkbox" /> Advanced: +2000 Disc XP -> if you learned This</p>
        <p style="margin-left:1vw;"><input type="checkbox" /> Expert: +2500 Disc XP -> if you learned That</p>
        <p style="margin-left:1vw;"><input type="checkbox" /> Master: +3000 Disc XP -> if you learned This</p>
    </div>
</div>

<style>
    .text {
        color: rgb(199, 180, 180);
        text-shadow: 1px 1px 8px gray;
    }

    .cardTitle {
        box-shadow: 0 4px 8px 0 gray;
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        background-color: rgb(13, 12, 14);
        max-width: 90%;
        align-self: center;
        margin-bottom: 2vh;
        text-indent: 2vw;
    }

        .cardTitle:hover {
            box-shadow: 0 8px 16px 0 gray;
        }

    .container{
        margin-right:3vw;
    }
</style>

